body {
  background: #242424;
  padding: 6em .5em .5em .5em;
  color: rgb(236, 236, 236);
  min-width: 240px;
  font-family: 'Sawarabi Gothic', sans-serif;
}

input[type=text] {
  background: rgb(21, 21, 21);
  border: 1px solid rgb(61, 61, 61);
  color:white;
  font-size: 11pt;
  padding:  .355em .4em .45em .4em;
}

button {
  background: #3b3b3b;
  border: 1px solid rgb(61, 61, 61);
  border-top: .115em solid rgb(61, 61, 61);
  color: rgb(116, 116, 116);
  font-weight: bold;
  padding: .47em 1.25em;
  border-radius: 0 7% 7% 0;
  margin-left: -4px;
}

button:hover {
  color: rgb(151, 151, 151);
}

